.header-container {
            position: relative;
            text-align: center;
        }

        .header-image {
            max-height: 300px; /* Adjust this value as needed */
            width: auto;
            
        }

        .navigation {
            position: absolute;
            top: 0px;
            left: 42%;
            background-color: #1b37569f;
            padding: 0px;
            border-radius: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 60%;
            height: 100%;
        }

        .navigation ul {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            gap: 0px;
        }

        .navigation li {
            margin: 0;
        }

        .navigation a {
            color: white;
            text-decoration: none;
            padding: 5px 5px;
        }
