.section-search input {
  padding: 5px !important;
  font-size: 18px !important;
  width: 90% !important;
  border: #f4f4f4 3px solid !important;
}

.section-follow .fa-4x {
  margin: 5px 10px;
}

html {
  font-family: 'yalenewroman', 'Times New Roman', Times, serif;
}

.yale-blue-background {
  background-color: #00356B !important;
}

.yale-blue-text {
  color: #00356B !important;
}

.person-image {
  margin: auto;
}

.person-image-card {
  padding-left: 2rem;
  margin: auto;
}

.bold-text {
  font-weight: bold;
}

.people-text {
  margin-top: 5px;
  font-size: 18px;
}

nav.nav-center {
  line-height: 36px;
  height: 36px;
}

nav.nav-center ul {
  text-align: center;
}

nav.nav-center ul li {
  display: inline;
  float: none;
}

nav.nav-center ul li a {
  display: inline-block;
  font-size: 24px;
}

nav .sidenav-trigger i {
  height: 32px !important;
  line-height: 32px !important;
}