.section-search input {
  padding: 5px !important;
  font-size: 18px !important;
  width: 90% !important;
  border: #f4f4f4 3px solid !important;
}

.section-follow .fa-4x {
  margin: 5px 10px;
}

html {
  font-family: 'yalenewroman', 'Times New Roman', Times, serif;
}

.yale-blue-background {
  background-color: #00356B !important;
}

.yale-blue-text {
  color: #00356B !important;
}

.person-image {
  margin: 10px auto 10px;
}

.bg-img {
  /* The image used */
  background-image: url("../img/New_Website_Banner.png");
  max-width: 100%;
  height: auto;

  height: 125px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* Needed to position the navbar */
  position: relative;
}

/* Position the navbar container inside the image */
.container-modified {
  position: absolute;
  width: auto;
  bottom: 0;
  right: 0;
}

/* The navbar */
.topnav {
  overflow: hidden;
  background-color: #00356B;
}

/* Navbar links */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}